body {
    font-family: 'Arial', sans-serif;
    background-color: #1b1b1b;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container {
    background: #2a2a2a;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 500px;
    text-align: center;
}
h1 {
    color: white;
    margin-bottom: 2rem;
}
.file-drop-area {
    border: 2px dashed #ccc;
    border-radius: 20px;
    width: 100%;
    margin: auto;
    padding: 20px;
    box-sizing: border-box;
    transition: background-color 0.3s;
}
.file-drop-area.is-active {
    background-color: rgba(0, 123, 255, 0.1);
}
.fake-btn {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border-radius: 3px;
    cursor: pointer;
}
.file-msg {
    font-size: medium;
    color: #ffffff;
}
.file-input {
    display: none;
}
.submit-btn {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.submit-btn:hover {
    background-color: #218838;
}
.result {
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    display: none;
}
.success {
    background-color: #d4edda;
    color: #155724;
}
.error {
    background-color: #f8d7da;
    color: #721c24;
}
.report-details {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: white;
}
.report-details div {
    margin-bottom: 5px;
}